* {
  box-sizing: inherit;
  transition: all 400ms;
}
html {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, Sans-serif;
}
.clear {clear:both;}
.search-wrapper {
  position: relative;
  font-size: 1.5rem;
  line-height: 3rem;
}
.search-wrapper label {
  position: absolute;
  left: 1rem;
  display: inline-block;
  line-height: 3rem;
}
.search-wrapper input {
  padding: .5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 1.5rem;
  height: 3rem;
  font-size: 1.25rem;
  line-height: 3rem;
  display: block;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 1px solid currentColor;
  outline: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
#courseList {
  border-bottom: 1px solid gray;
}
#courseList > li {
  border-top: 1px solid gray;
  padding: 0.75em;
  font-size: .8rem;
}
#courseList > li:nth-child(odd) {
  background-color: rgba(0, 0, 0, .05);
}
#courseList > li:hover {
  background-color: rgba(10, 20, 100, .1);
  cursor: pointer;
}
#courseList > li h3,
#courseList > li p,
.head p {
  margin: 0;
}
#courseList > li.active,
#courseList > li.active:hover {
  background-color: Ivory;
}

/** flexbox holygrail layout? **/

.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
  min-height: 100vh;
}

.HolyGrail-content {
  flex: 1;
  min-height: 100vh;
}

.HolyGrail-filters {
  flex: 0 0 20%;
  order: -1;
}
